/* now we will add css to the body to make canvas visible and remove the preadded margin from the canvas */
body{
    margin:0;
    background:rgb(36, 94, 36);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor:pointer;
}
button:hover{
    background:blue;
}

#networkCanvas{
    background:black;
}
#carCanvas{
    background:lightgray;
}